{
    "Description": "{{ project }}",
    "AWSTemplateFormatVersion": "2010-09-09",
    "Outputs" : {
        "PrvIp" : {
          "Value" : { "Fn::GetAtt" : [ "{{ project_name }}", "PrivateIp" ]},
          "Description" : "{{ project_name }} server's Private IP Address"
        }
    },
    "Resources": {
        "{{ project_name }}": {
            "Type": "AWS::EC2::Instance",
            "Properties": {
                "DisableApiTermination": "false",
                "InstanceInitiatedShutdownBehavior": "stop",
                "ImageId": "{{ ec2_image }}",
                "InstanceType": "{{ ec2_type }}",
                "KeyName": "{{ aws_keypair }}",
                "Monitoring": "false",
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "{{ project_name }}{{ envt_suffix }}"
                    },
                    {
                        "Key": "Owner",
                        "Value": "{{ cloud_resource_owner }}"
                    }
                ],
                "NetworkInterfaces": [
                    {
                        "DeleteOnTermination": "true",
                        "Description": "Primary network interface",
                        "DeviceIndex": 0,
                        "SubnetId": "{{ subnet_id }}",
                        {{ assign_private_ip }}
                        "GroupSet": [
                            {
                                "Ref": "SG{{ project_name }}"
                            }
                        ]
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "8f77b450-eebc-4160-8475-f1fc2e7713db"
                }
            }
        },
        {{ associate_elastic_ip }}
        "SG{{ project_name }}": {
            "Type": "AWS::EC2::SecurityGroup",
            "Properties": {
                "GroupName": "{{ project_name }}{{ envt_suffix }}",
                "GroupDescription": "{{ project_name }} SG",
                "VpcId": "{{ vpc_id }}",
                "Tags": [
                    {
                        "Key": "Owner",
                        "Value": "{{ cloud_resource_owner }}"
                    },
                    {
                        "Key": "Name",
                        "Value": "{{ project_name }}{{ envt_suffix }}"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "a1362cf7-a3c7-4ba4-a9d5-c180237f7be7"
                }
            }
        },
        "ingress1": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupId": {
                    "Ref": "SG{{ project_name }}"
                },
                "Description": "HTTPS from public",
                "IpProtocol": "tcp",
                "FromPort": "443",
                "ToPort": "443",
                "CidrIp": "0.0.0.0/0"
            }
        },
        "ingress2": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupId": {
                    "Ref": "SG{{ project_name }}"
                },
                "Description": "SSH from Ansible control",
                "IpProtocol": "tcp",
                "FromPort": "22",
                "ToPort": "22",
                "CidrIp": "{{ ansible_default_ipv4.address }}/32"
            }
        },
        "ingress3": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupId": {
                    "Ref": "SG{{ project_name }}"
                },
                "Description": "SSH from devops home",
                "IpProtocol": "tcp",
                "FromPort": "22",
                "ToPort": "22",
                "CidrIp": "{{ ssh_source_ip_devops_home }}"
            }
        },
        "ingress4": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupId": {
                    "Ref": "SG{{ project_name }}"
                },
                "Description": "SSH from devops work",
                "IpProtocol": "tcp",
                "FromPort": "22",
                "ToPort": "22",
                "CidrIp": "{{ ssh_source_ip_devops_work }}"
            }
        },
        "ingress5": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupId": {
                    "Ref": "SG{{ project_name }}"
                },
                "Description": "SSH from devops work 2",
                "IpProtocol": "tcp",
                "FromPort": "22",
                "ToPort": "22",
                "CidrIp": "{{ ssh_source_ip_devops_work2 }}"
            }
        },
        "ingress6": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupId": {
                    "Ref": "SG{{ project_name }}"
                },
                "Description": "SSH from devops VPN",
                "IpProtocol": "tcp",
                "FromPort": "22",
                "ToPort": "22",
                "CidrIp": "{{ ssh_source_ip_devops_VPN }}"
            }
        },
        "egress1": {
            "Type": "AWS::EC2::SecurityGroupEgress",
            "Properties": {
                "GroupId": {
                    "Ref": "SG{{ project_name }}"
                },
                "Description": "Allow all out",
                "IpProtocol": "-1",
                "FromPort": "-1",
                "ToPort": "-1",
                "CidrIp": "0.0.0.0/0"
            }
        },
    }
}
